{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h1>{{listing_name}}</h1>
        Current Price: ${{listing_price}}
        <br><br>
        Description: <br> <br>
        {{listing_desc}}
        <br><br>
        Category: {{category}}

        {% if image_url %}
            <br>
            <img class="active_list_img" src="{{image_url}}">
            <br>
        {% endif %}
    </div>
    <br>
    <div class="container">
    {% if not same_user %}
        <form action="{% url 'bid_on_listing' id=list_id %}" method="POST">
            {% csrf_token %}
            {{ bid_form }}
            <input type="submit">
        </form>
    {% elif listing_open %}
        <a href="{% url 'end_auction' id=list_id %}">
            <button type="button" class="btn btn-primary">End Auction</button>
        </a>
    {% endif %}
        {% if on_watchlist %}
        <a href="{% url 'remove_from_watchlist' id=list_id %}">
            <button type="button" class="btn btn-primary">Remove from Watchlist</button>
        </a>
        {% else %}
        <a href="{% url 'add_to_watchlist' id=list_id %}">
            <button type="button" class="btn btn-primary">Add to Watchlist</button>
        </a>
        {% endif %}
    </div>
    <br>
    {% if comments_exist %}
        <div class ="container">
            <h3>Comments</h3>
            {% for comment in comments %}
                {{ comment.user }} : {{comment.text}} <br>
            {% endfor %}
        </div>
        <br>
    {% endif %}
    <div class="container">
        <form action="{% url 'add_comment' id=list_id %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <input class="btn btn-primary" id="form-submit-btn" type="submit">
        </form>
    </div>
{% endblock %}