{% extends "auctions/layout.html" %}

{% block body %}
<h1>{{ category }}</h1>
{% for listing in listings %}
        <a href="/listing/{{listing.id}}" class="active_listing_link">
            <div class="active_listing_box">
                <h3>{{ listing.listing_name }}</h3><br>
                Current Price: ${{listing.listing_price}}<br><br>
                Description: <br>{{listing.listing_desc}}<br>
                ID: {{listing.id}}<br>
                {% if listing.image_url %}
                    <img class="active_list_img" src="{{listing.image_url}}">
                    <br>
                {% endif %}
            </div>
        </a>
        <br>
    {% empty %}
        <div>No active listings.</div>
    {% endfor %}

{% endblock %}